body {
    background: #26A69A;
    margin: 0;
}

.divTableRow:nth-child(odd) .divTableCell:nth-child(even), .divTableRow:nth-child(even) .divTableCell:nth-child(odd) {
    background: #999;
}

.cemetery {
    width: 20%;
    height: 100%;
    float: left;
    background-color: #A1887F;
}

div[class^="cemetery-"] {
    width: 100%;
    height: 50%;
    font-size: 3.5vw;
}

div[class^="cemetery-"] div {
    float: left;
}

div[class^="mv-"] {
    width: 100%;
    font-family: monospace;
    float: left;
}

.moves span {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 2vw;
    text-decoration: underline;
}

#msgs {
    position: relative;
    width: 100%;
    float: right;
}

#typing {
    position: absolute;
    bottom: 0;
    display: none;
    margin-left: 7px;
    margin-bottom: 7px;
    background-color: white;
}

#black-moves span {
    color: #212121;
}

#white-moves span {
    color: #FAFAFA;
}

#whiteTime span {
    color: #FAFAFA;
}

#blackTime span {
    color: #212121;
}

.draggable {
    cursor: pointer;
}

#gameTable {
    width: 80%;
    margin: 0 auto;
    float: left;
}

.moves {
    width: 10%;
    height: 100%;
    float: left;
}

#chat {
    width: 20vw;
    float: right;
}

#inp {
    width: 100%;
    height: 3vw;
    float: right;
}

#inp textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

#chatMessages {
    width: 100%;
    height: 100%;
    resize: none;
}

#content {
    position: absolute;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    right: 0;
    left: 0;
}

#timePlate {
    width: 100%;
    font-size: 4.5vw;
    display: block;
    float: left;
}

#button {
    float: left;
    width: 100%;
    text-align: center;
}

#button input {
    width: 50%;
    font-size: 4.5vw;
    padding: 0;
}

#timePlate div {
    width: 50%;
    font-size: 3.5vw;
    text-align: center;
}

#waiting {
    left: 0;
    margin-right: 0;
    margin-left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #91d2af;
    opacity: 0.8;
    text-align: center;
    top: 0;
    right: 0;
    display: none;
}

#whiteTime {
    float: left;
}

#blackTime {
    float: right;
}

#main-chess {
    float: left;
    width: 80vw;
}

.move-text {
    float: left;
    margin-right: 0.5vw;
}

#cancel_button {
    background: url(/image/undo.png) no-repeat center;
    position: relative;
    max-height: 1vw;
    max-width: 1vw;
    min-width: 1vw;
    min-height: 1vw;
    display: inline-block;
    background-size: 1vw;
    cursor: pointer;
}

.divTable {
    display: table;
    width: 60%;
    float: left;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    display: table-cell;
    height: 12.5%;
    width: 12.5%;
    vertical-align: middle;
    text-align: center;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    background: white;
    display: table-row-group;
}

.divTableCell div {
    position: relative;
    display: inline-block;
    font-size: 3.5vw;
}