body {
    background: #26A69A;
    margin: 0;
}

/*td {*/
/*width: 75px;*/
/*height: 75px;*/
/*font-size: 50px;*/
/*text-align: center;*/
/*}*/

.divTableRow:nth-child(odd) .divTableCell:nth-child(even), .divTableRow:nth-child(even) .divTableCell:nth-child(odd) {
    background: #999;
}

.cemetery {
    width: 20%;
    height: 100%;
    float: left;
    background-color: #A1887F;
}

div[class^="cemetery-"] {
    width: 100%;
    height: 50%;
    font-size: 50px;
}

div[class^="mv-"] {
    width: 50%;
    float: left;
    text-align: center;
}

.moves span {
    width: 100%;
    float: left;
    text-align: center;
    font-size: x-large;
    text-decoration: underline;
}

#msgs {
    position: relative;
    width: 100%;
    float: right;
}

#typing {
    position: absolute;
    bottom: 0;
    display: none;
    margin-left: 7px;
    margin-bottom: 7px;
}

#black-moves span {
    color: #212121;
}

#white-moves span {
    color: #FAFAFA;
}

#whiteTime span {
    color: #FAFAFA;
}

#blackTime span {
    color: #212121;
}

.draggable {
    cursor: pointer;
}

#gameTable {
    width: 80%;
    margin: 0 auto;
    float: left;
}

.moves {
    width: 10%;
    height: 100%;
    float: left;
}

#chat {
    width: 20vw;
    float: right;
}

#inp {
    width: 100%;
    height: 50px;
    float: right;
}

#inp input {
    width: 100%;
    height: 100%;
}

#chatMessages {
    width: 100%;
    height: 100%;
    resize: none;
}

#content {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#timePlate {
    width: 100%;
    margin-top: 10px;
}

#timePlate div {
    width: 50%;
    /*height: 70px;*/
    font-size: 60px;
    text-align: center;
}

#waiting {
    left: 0;
    margin-right: 0;
    margin-left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #91d2af;
    opacity: 0.8;
    text-align: center;
    top: 0;
    right: 0;
    display: none;
}

#whiteTime {
    float: left;
}

#blackTime {
    float: right;
}

#main-chess {
    float: left;
    width: 80vw;
}

.divTable {
    display: table;
    width: 60%;
    float: left;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    height: 12.5%;
    width: 12.5%;
    text-align: center;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    background: white;
    display: table-row-group;
}

.divTableCell div {
    font-size: 100%;
    width: 100%;
    height: 100%;
}