<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" media="screen" th:href="@{/css/main.css}"/>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
<div id="content">
    <div id="main-chess">
        <div id="white-moves" class="moves"><span>white</span></div>
        <div id="gameTable"></div>
        <div id="black-moves" class="moves"><span>black</span></div>
        <div id="timePlate">
            <div id="whiteTime"></div>
            <div id="blackTime"></div>
        </div>
    </div>
    <div id="chat">
        <div id="msgs"><span id="typing">typing...</span><textarea id="chatMessages" readonly="readonly"
                                                                   wrap="soft"></textarea></div>
        <div id="inp"><textarea wrap="soft"></textarea></div>
    </div>
</div>
<div id="waiting">
    <span></span>
</div>
</body>
</html>